body{
    width: 100%; 
    max-width: 100%;
    overflow-x: auto;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(315deg,#63d471 0%, #364e40 74%);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bg-image{
    width: 100%;
    height: auto;
    opacity: 10%;
    background-repeat: no-repeat;
    background-attachment:scroll;
}

.flex-blackjack-row-1, 
.flex-blackjack-row-2, 
.flex-blackjack-row-3, 
#blackjack-result {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    padding: 0%;
}

.container{
    position: absolute;
    bottom: 0%;
    z-index: 1;
    margin-top: 50%;
    margin-right: 50%;
    margin-bottom: 20%;
    margin-left: 50%;
}

.flex-blackjack-row-3{
    margin-left: 50%;
    margin-bottom: 50%;
}

.btn-lg{
    float: left;
}

#blackjack-hit-button{
    color: #000000;
    background-color: #37af00;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: small;
    text-decoration: none;
    border: none;
    font-weight: 60;
}
#blackjack-stand-button{
    color: #000000;
    background-color: #dfd000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: small;
    text-decoration: none;
    border: none;
    font-weight: 60;
}
#blackjack-deal-button{
    color: #000000;
    background-color: #11bac0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: small;
    text-decoration: none;
    border: none;
    font-weight: 60;
}
#blackjack-restart-button{
    color: #ffffff;
    background-color: #c50f0f;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: small;
    text-decoration: none;
    border: none;
    font-weight: 60;
}